<div class="col-xs-12 col-sm-6 col-lg-4">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Name: {{ player.name }}</h4>
    <p class="list-group-item-text">Family: {{ player.position }}</p>
    <br>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <label for="position">Change Position</label>
      <select name="position" id="position" class="form-control" [ngModel]="presetPosition">
        <option *ngFor="let position of getPositions()" [value]="position.value">
          {{ position.display }}
        </option>
      </select>
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </a>
</div>

