<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/players/all">All</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/players/goalkeepers">Goalkeepers</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/players/defenders">Defenders</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/players/midfielders">Midfielders</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/players/strikers">Strikers</a>
  </li>
</ul>
<router-outlet></router-outlet>
